*{
box-sizing:border-box;
}


body{

margin:0;

background:#000;

color:#fff;

font-family:

"Courier New",
monospace;

overflow:hidden;

}



/* =====================
BOOT
===================== */


#bootScreen{

position:fixed;

inset:0;

background:#000;

z-index:9999;

display:flex;

justify-content:center;

align-items:center;


animation:

bootFade 1s forwards 12s;

}



.boot-wrapper{

text-align:center;

}




.akwa-title{


font-size:110px;


font-weight:bold;


letter-spacing:20px;


color:white;


text-shadow:

0 0 10px white,

0 0 30px white;


animation:

akwaBoot 4s;


}




@keyframes akwaBoot{


0%{

opacity:0;

transform:scale(5);

filter:blur(30px);

}


50%{

opacity:1;

}


100%{

transform:scale(1);

filter:blur(0);

}

}







.boot-console{


margin-top:50px;


text-align:left;


color:#39ff14;


font-size:16px;


line-height:32px;


}





.boot-console div{


animation:

textLoad .5s forwards;


opacity:0;


}



.boot-console div:nth-child(1){

animation-delay:2s;

}


.boot-console div:nth-child(2){

animation-delay:3s;

}


.boot-console div:nth-child(3){

animation-delay:4s;

}


.boot-console div:nth-child(4){

animation-delay:5s;

}


.boot-console div:nth-child(5){

animation-delay:6s;

}



@keyframes textLoad{


to{

opacity:1;

}

}






.loading-bar{


width:400px;

height:12px;

border:

1px solid #39ff14;

margin-top:20px;


}


.loading-bar div{


height:100%;

width:0;


background:#39ff14;


animation:

loadBar 5s forwards 6s;


}


@keyframes loadBar{


to{

width:90%;

}

}



.cursor{

animation:

blink .7s infinite;

}



@keyframes blink{


50%{

opacity:0;

}

}



@keyframes bootFade{


to{

opacity:0;

visibility:hidden;

}

}









/* =====================
DESKTOP
===================== */


.desktop{


width:100vw;


height:100vh;


position:relative;


background:


radial-gradient(

ellipse,

#171323,

#05050a

);



overflow:hidden;


border-radius:35px;


box-shadow:

inset 0 0 100px #000;


}







.crt{


position:absolute;

inset:0;


background:


repeating-linear-gradient(

0deg,

rgba(255,255,255,.05),

rgba(255,255,255,.05) 1px,

transparent 3px

);


pointer-events:none;


}





.binary{


position:absolute;


top:0;


left:20px;


color:white;


opacity:.7;


font-size:20px;


line-height:25px;


}




.binary.right{


left:auto;


right:20px;


}









/* =====================
ICONS
===================== */



.icons{


position:absolute;


top:30px;


left:40px;


display:flex;


flex-direction:column;


gap:35px;


}





.desktop-icon{


width:90px;


text-align:center;


cursor:pointer;


font-size:12px;


}





.desktop-icon:hover{


color:#39ff14;


}






.pixel-computer{


font-size:45px;


}




.pixel-terminal{


font-size:40px;


}




.pixel-game{


font-size:45px;


}









/* =====================
WINDOWS
===================== */


.window{


display:none;


position:absolute;


width:550px;


height:350px;


background:#11101c;


border:

2px solid #ddd;


box-shadow:

0 0 20px black;


z-index:20;


}





.window.active{


display:block;


}







.window-title{


height:35px;


background:#222;


border-bottom:

2px solid white;


padding:5px 10px;


display:flex;


justify-content:space-between;


align-items:center;


font-size:14px;


}





.window-title button{


background:none;


color:white;


border:

1px solid white;


cursor:pointer;


}








.window-body{


padding:20px;


color:white;


}




.window-body pre{


font-size:14px;


}







.terminal-body{


color:#39ff14;


}




input{


background:black;


border:none;


outline:none;


color:#39ff14;


font-family:inherit;


}









/* =====================
TASKBAR
===================== */


.taskbar{


position:absolute;


bottom:0;


height:35px;


width:100%;


background:white;


color:black;


display:flex;


justify-content:space-between;


align-items:center;


padding:0 10px;


font-family:Arial;


font-size:13px;


}
